* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);

}

.navegacao {
    position: fixed;
    top: 0;
    background-color:  var(--maisescuro);
    width: 100%;
    z-index: 100%;
    padding: 1.5rem;

}


.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
    color: var(--claro);
}



.cor{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
    
}


.img2{
    width: 350px;
    height: 350px;
    box-shadow: 6px 16px 13px 5px rgba(0,0,0,0.88); 
    box-shadow: 6px 16px 13px 5px rgba(0,0,0,0.88);
    border-radius: 50%;
    border: 4px solid var(--vidro);
}

.cabeca {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1 {
    font-size: 3.5rem;
    color: var(--claro);
    font-weight: bold;
    margin: 15px;
}

.sub {
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;

}

.sobre-caixa {
    padding: 2rem;
    max-width: 600px ;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background-color: #0a0f1c;
}

.portifolio {

    padding: 6rem 2rem;
    text-align: center;

}

.projeto-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}


.projeto1 {
    height: 300px;
    width: 100%;
    object-fit: cover;


}

.paragrafo-projeto {

}

.info-projetos {

} 

.projeto-card {
    background: #0a0f1c;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    overflow: hidden;

}
